{% extends "baseSupAd.html.twig" %}

{% block stylesheets %}



 {{  parent() }}
 
  {% endblock %}

{% block title %} {{  parent() }} {% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}


{% block body %}

<div class="row bg-title">
 
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Accueil admin </h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                    <o class="breadcrumb">
                        <li>Admin  </li>
                        <li class="active"> accueil admin</li>
                    </o>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>



<!--row -->
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats">
                                <i class="ti-user"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue"> {{result1.0.total}}</h4>
                                    <span class="text-muted">
administrateur</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats">
                                <i class="ti-user"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue"> {{result2.0.total}}</h4>
                                    <span class="text-muted">
utilisateur actif</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box ">
                            <div class="r-icon-stats">
                                <i class="ti-user"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue">{{result3.0.total}}</h4>
                                    <span class="text-muted">
utilisateur inactif</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats">
                                <i class="ti-user"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue">{% set total= result2.0.total + result3.0.total %} {{total}}</h4>
                                    <span class="text-muted">
utilisateur total</span> 


                                </div>
                            </div>
                        </div>
                    </div>
					
					
					
					
					
					       <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats">
                                <i class="ti-user"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue">{{result4.0.total}}/{{result10.0.total}}(inactif)</h4>
                                    <span class="text-muted">
<a href ="{{path('admin_list_ads')}}">Agent de sante</a> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats">
                                <i class="ti-user"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue">{{result5.0.total}}/{{result9.0.total}}(inactif)</h4>
                                    <span class="text-muted">
<a href ="{{path('admin_list_rdc')}}">RDC</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats">
                                <i class="ti-user"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue">{{result6.0.total}}/{{result8.0.total}}(inactif)</h4>
                                    <span class="text-muted">
<a href ="{{path('admin_list_comm')}}">Commissaire</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="white-box">
                            <div class="r-icon-stats">
                                <i class="fa fa-hospital-o"></i>
                                <div class="bodystate">
                                    <h4 style="color:blue">{{result7.0.total}}</h4>
                                    <span class="text-muted">
<a href ="{{path('admin_list_cds')}}">centre de sante</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
					

                </div>

<br/>

 <center><h3> Nombre de personne par centre de santé</h3></center>








 <canvas id="cds" width="400" height="100"></canvas>


<script>
let cds = document.querySelector("#cds")
    let cdsGraph = new Chart(cds, {
        type: "pie",
        data: {
            labels: {{cdsNom|raw}},
            datasets: [{
                label: "Répartition des cds",
                data: {{cdsCount|raw}},
                backgroundColor: {{cdsColor|raw}}
            
            }]
        }
    })

</script>





{% endblock %}
