{% extends "baseSupAd.html.twig" %}

{% block stylesheets %} {{  parent() }} {% endblock %}

{% block title %} {{  parent() }} {% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}


{% block body %}


 {% for membre in app.user.membres %}

<div class="row bg-title">
 
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Centre : {{ membre.cds.nom}}</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-4 col-xs-12"> 
                    <o class="breadcrumb">
                        <li>Agent de sante </li>
                        <li class="active"> Liste des cas contacts</li>
                    </o>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
  

               



               <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Liste des patients</h3>
                            <p class="text-muted m-b-30">Cliquez sur cas contact pour afficher les cas contacts du patient</p>
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Numero</th>
                                            <th> Etat <th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    {% for c in cas %}
                                    <tbody>
                                        <tr>
                                            <td>{{ c.nom }}</td>
                                            <td>{{ c.numero }}</td>
                                            <td>zidvizvizirhv</td>
                                            <td><a href="{{ path('ads_cas_graphe',{'id': c.id}) }}"><button type="button" class="btn btn-primary">Envoyez sms</button></a></td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
      {% endfor %} 
 {% endblock %}

 

