
{% extends "baseSupAd.html.twig" %}

{% block stylesheets %} {{  parent() }} {% endblock %}

{% block title %} {{  parent() }} {% endblock %}


{% block body %}

{% for membre in app.user.membres %}

<div class="row bg-title">
 
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Centre : {{ membre.cds.nom}} </h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                    <o class="breadcrumb">
                        <li>agent de sante </li>
                        <li class="active"> importation de releve</li>
                    </o>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>


<center>
<!-- /.row -->
 
{{ form_start(form,{'attr':{'class':'form-horizontal form-material'}}) }}
               <div class="row">
                    <div class="col-sm-12 ol-md-12 col-xs-12">
                        <div class="white-box">

                            <h3 class="box-title">Releve telephonique</h3>
                            <label for="input-file-now-custom-2">Deposez ici le fichier du releve telephonique</label>
                            
                            {{form_widget(form.name,{'attr':{'id':'input-file-now-custom-2'}})}}
                        </div>
                    </div>
                    
<div class="col-xs-12">
          
          </div>
                </div>
                <!-- .row -->
<div class="form-group text-center m-t-20">
          
        </div>
        <div class="col-sm-offset-3 col-sm-5">
                                  <button type="submit" class="btn btn-info btn-rounded btn-sm" onclick="return confirm('Etes vous sure de vouloir enregister ce fichier?');"> <i class="fa fa-plus"></i>&nbsp;&nbsp;Enregister</button>
                                
                            </div>
         {{ form_end(form) }}

        
         <p ><font color=""><h3> Assurez-vous que le fichier importé est bien enregistré sous format csv separateur point virgule   </h3></font></p>
</center>

{% endfor %}
{% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}
