<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
    <link rel="stylesheet" href="{{asset('Graphe/css/Treant.css')}}">
    <link rel="stylesheet" href="{{asset('Graphe/css/basic-example.css')}}">


        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{asset('Graphe/js/raphael.js')}}"></script>
            <script src="{{asset('Graphe/js/Treant.js')}}"></script> 
        

        {% endblock %}
    </head>
    <body>
    <center top="3em"><h1> Graphe recapitulatif de cas contact</h1></center>
        {% block body %}
        
        
        {% endblock %}
        
       <a href="#"> <center top="3em"><h1> Envoyez sms </h1></center> </a>
        
    </body>
</html>
