{% extends "baseSupAd2.html.twig" %}

{% block stylesheets %} {{  parent() }} {% endblock %}

{% block title %} {{  parent() }} {% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}


{% block body %}


 

<div class="row bg-title">
 
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">commissaire</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-4 col-xs-12"> 
                    <o class="breadcrumb">
                        <li><a href="{{path('comm_accueil')}}">accueil </a> </li>
                        <li class="active"> Résumé des appels téléphoniques</li>
                    </o>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
  

               



               <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box printableArea">
                            <h3 class="box-title m-b-0"> Résumés des appels téléphoniques</h3>
                            <p class="text-muted m-b-30">Appuyez sur voir pour visualiser les détails des appels</p>
                            <div class="table-responsive">
                                <table id="" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>NUM CIBLE</th>
                                            <th>NOM CIBLE </th>
                                            <th>NB.AP.ENTRANTS</th>
                                            <th>NB.AP.SORTANTS</th>
                                            <th>TOTAL APPEL</th>
                                            <th>NUM CONTACT</th>
                                            <th>NOM CONTACT </th>
                                            
                                           
                                             <th>DETAILS</th>
                                            
                                        </tr>
                                    </thead>
                                  {% for data in data %}
                                    <tbody>
                                        <tr>
                                            <td>{{data.contact1}}</td>
                                            <td>{{data.nom1}}</td>
                                            
                                            <td>{{data.entree.0.nbre}} </td>
                                            <td>{{data.sortie.0.nbre}}</td>
                                            <td>{% set total= data.entree.0.nbre + data.sortie.0.nbre %} {{total}}</td>
                                            <td>{{data.contact2}}</td>
                                            <td>{{data.nom2}}</td>
                                        
                                        
                                            
                                        
                                                    <td><a href="{{ path('comm_details_appel',{'id1': data.personne1,'id2':data.personne2}) }}"><button type="button" class="btn btn-primary">Voir</button></a></td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                    {% endfor %}
                                   
                                </table>

                                
                            </div>

                             <button id="print" class="btn btn-rounded btn-sm btn-info" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                        </div>
                    </div>

                  </div>
                  </div>
       
 {% endblock %}

 

