{% extends "baseSupAd2.html.twig" %}

{% block stylesheets %} {{  parent() }} {% endblock %}

{% block title %} {{  parent() }} {% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}


{% block body %}


 

<div class="row bg-title">
 
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">commissaire</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-4 col-xs-12"> 
                    <o class="breadcrumb">
                        <li><a href="{{path('comm_accueil')}}">accueil </a> </li>
                        <li class="active"> Détails de l'appel</li>
                    </o>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
  

               
            


               <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box printableArea">
                            <h3 class="box-title m-b-0">Details des appels entre {{one }} et {{two}}</h3>
                            <p class="text-muted m-b-30">Consulter les détails de l'appel</p>
                            <div class="table-responsive">
                                <table id="" class="table table-striped">
                                    <thead>
                                        <tr>
                                        
                                            
                                            
                                            
                                            <th>date</th>
                                            <th>duree</th>
                                            <th>Type</th>
                                            <th> sens </th>
                                            <th> antenne cible</th>
                                            <th>telephone cible</th>
                                        
                                            
                                            
                                            
                                            
                                           
                                        
                                            
                                        </tr>
                                    </thead>
                                {% for appels in appels %}
                                    <tbody>
                                        <tr>
                                            <td>{{appels.date|date("Y-m-d  H:i:s")}}</td>
                                            
                                            <td>{{appels.duree}} </td>
                                            <td>{{appels.typeAppel}}</td>
                                            <td>{{appels.sensAppel}}</td>
                                            <td>{{appels.antenne.nom}}</td>
                                            <td>imei : {{appels.portable.imei}}, imsi: {{appels.portable.imsi}}</td>
                                        
                                        
                                        
                                            
                                        
                                        
                                            
                                        </tr>
                                        
                                    </tbody>
                                
                                 {% endfor %}
                                </table>
                            </div>

                            <button id="print" class="btn btn-rounded btn-sm btn-info" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                        </div>
                    </div>
                  </div>
                  </div>

 {% endblock %}

 

