<!-- MENU -->


    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                    <!-- input-group -->
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search{{ asset('optimum.')}}"> <span class="input-group-btn">
                            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                        </span> </div>
                    <!-- /input-group -->
                </li>

               

          {% if is_granted('ROLE_ADS') %}      

{% for membre in app.user.membres %}


<li class="user-pro">
                        <a href="#" class="waves-effect"> <img src="{{ asset('optimum/images/pp.png')}}" alt="user-img"  class="img-circle"> <span class="hide-menu">{% for membre in app.user.membres %} {{membre.nom}}{% endfor %}<span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                            <li><a href="{{ path('app_login') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li> <a href="{{ path('ads_accueil') }}" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu"><B>Dashboard</B></span></a> </li>
                    <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users"></i> <span class="hide-menu"> Gerer cas contact <span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">3</span></span></a>
                        <ul class="nav nav-second-level">
						
                             
        
                             <li> <a href="{{ path('ads_register_cas_contact') }}"><i class="fa fa-male" aria-hidden="true"></i><span class="hide-menu">Enregistrer cas contact</span></a></li>
                              <li> <a href="{{ path('ads_search_releve') }}"><i class="fa fa-search" aria-hidden="true"></i><span class="hide-menu">Rechercher dans releve</span></a></li>
                             <li> <a href="{{ path('ads_patient_list') }}"><i class="fa fa-list" aria-hidden="true"></i><span class="hide-menu">Liste patient</span></a></li>
                             <li> <a href="{{ path('ads_cas_list') }}"><i class="fa fa-list" aria-hidden="true"></i><span class="hide-menu">Liste cas contact</span></a></li>
                             <li> <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hide-menu">Graphe general</span></a></li>
							 
							  
							
                        
        
                            
						
                      </ul>
                    </li>
                    
					
					
                   
                    
                   
					
					
					
                    
                   
                    
                    <li><a href="{{ path('app_logout') }}" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
                </ul>
            </div>
        </div>
      
                 

                {% endfor %}
                     {% endif %}



 {% if is_granted('ROLE_COMM') %}      

{% for commissaire in app.user.commissaires %}


<li class="user-pro">
                        <a href="#" class="waves-effect"> <img src="{{ asset('optimum/images/pp.png')}}" alt="user-img"  class="img-circle"> <span class="hide-menu">{% for commissaire in app.user.commissaires %} {{commissaire.nom}}{% endfor %}<span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                            <li><a href="{{ path('app_login') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li> <a href="{{ path('comm_accueil') }}" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu"><B>Dashboard</B></span></a> </li>
                    <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users"></i> <span class="hide-menu"> Gerer suspect <span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">3</span></span></a>
                        <ul class="nav nav-second-level">
						
                             <li> <a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="hide-menu">Details appels</span></a></li>
                             <li> <a href="{{path('comm_vis')}}"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hide-menu">Graphe enquete</span></a></li>
                            
							  
							
                        
        
                
						
                      </ul>
                    </li>
                    
					
					
                   
                    
                   
					
					
					
                    
                   
                    
                    <li><a href="{{ path('app_logout') }}" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
                </ul>
            </div>
        </div>
      
                 

                {% endfor %}
                     {% endif %}

        



                     
                      {% if is_granted('ROLE_ADMIN') %}

 
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><img src="{{ asset('optimum/images/pp.png')}}" alt="user-img" class="img-circle"> <span class="hide-menu">Admin<span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                            <li><a href="{{ path('app_login') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li> <a href="" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu"><B>Dashboard</B></span></a> </li>
                    <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-book"></i> <span class="hide-menu"> Gerer CDS <span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">3</span></span></a>
                        <ul class="nav nav-second-level">
						
                             <li> <a href="{{ path('admin_add_cds') }}"><i class="fa fa-plus p-r-10"></i><span class="hide-menu">Ajouter un centre</span></a></li>

                             <li> <a href=""><i class="fa fa-list"></i><span class="hide-menu">liste des centres</span></a></li>

							 
							  
							
                            
                      </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="waves-effect"><i class="icon-envelope p-r-10"></i> <span class="hide-menu"> Gerer données <span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">6</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{{path('admin_import')}}"><i class="fa fa-folder"></i>Importer fichiers</a></li>
                            <li> <a href="{{path('admin_register_cas')}}"><i class="ti-user"></i>Associer nom</a></li>
                            <li> <a href=""><i class="ti-user"></i>Non stagiaires</a></li>
                        </ul>
                    </li>
					
					<li> <a href="#" class="waves-effect"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Statistiques<span class="fa arrow"></span> <span class="label label-rouded label-info pull-right">25</span> </span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="">offres/specialite</a></li>
                            <li><a href="">offres/jour</a></li>
                           
                            <li><a href="">Etudiants/specialite</a></li>
                            
                        </ul>
                    </li>
                   
					 
					
                    
                   
                    
                    <li><a href="{{ path('app_logout') }}" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
                </ul>
            </div>
        </div>
                        
   {% endif %}








    {% if is_granted('ROLE_RDC') %}


<li class="user-pro">
                         <a href="#" class="waves-effect"> <img src="{{ asset('optimum/images/pp.png')}}" alt="user-img"  class="img-circle"> <span class="hide-menu">{% for membre in app.user.membres %} {{membre.nom}}{% endfor %}<span class="fa arrow"></span></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
                            <li><a href="{{ path('app_login') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li> <a href="{{ path('rdc_accueil') }}" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu"><B>Dashboard</B></span></a> </li>
                    <li> <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-bullhorn"></i> <span class="hide-menu"> Publication <span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">3</span></span></a>
                        <ul class="nav nav-second-level">
						
                             <li> <a href=""><i class="fa fa-plus p-r-10"></i><span class="hide-menu">Ajouter une Publication</span></a></li>
							 
                            
						<li><a href=""><i class="fa fa-list p-r-10"></i><span class="hide-menu">Liste des publications</span></a></li>
                      </ul>
                    </li>
                    <li> <a href="javascript:void(0);" class="waves-effect"><i class="icon-envelope p-r-10"></i> <span class="hide-menu"> Candidature <span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">6</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href=""><i class="fa fa-list p-r-10"></i>Liste des  candidatures</a></li>
                            <li> <a href=""><i class="ti-user"></i>Mes stagiaires</a></li>
                            
                        </ul>
                    </li>
					
					
                   
                   
                   
					
					 
					
                    
                    
                            
                    
   {% endif %}
            

               

                <li><a href="{{ path('app_logout') }}" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Logout</span></a></li>
            </ul>
        </div>
    </div>
    <!-- Left navbar-header end -->
    

